*{
    margin: 0;
    box-sizing: border-box;
}

body{


    .section{
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }

    .one{
        background-color: #d8a47f;
    }

    .two{
        background-color: #ef8354;
    }

    .three{
        background-color: #EE4B6A;
    }

    .four{
        background-color: #DF3B57;
    }

    .five{
        background-color: #0F7173;
    }

    .animation{
        position: fixed;
        //background-color: rgba($color: #fff, $alpha: 0.5);
        height: 100vh;
        width: 100%;

        img{
            position: relative;
            object-fit: cover;
            width: 50vw;
            height: 50vw;
            top: 0px;
            left: 50%;
            transform: translate(-50%, 0);
            border-radius: 50%;
        }
    }
}